<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-6">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group col-6">
    <%= form.label "Select parent category (For subcategories):" %>
    <%= form.collection_select :parent_id, Category.all, :id, :name, prompt: "Select category" %>
  </div>

  <div class="form-group col-6 level">
    <%= form.label :visibility_level %>
    <%= form.select :public, [['Public', true], ['Private', false]], prompt: "Select level" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
